<h2>Disjointed Chart</h2>
<div id="Disjointed">
    <div style="text-align: left;"class="toolbar">
        <mat-slide-toggle [(ngModel)]="gChecked" (ngModelChange)="showGroups()">Groups</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="lChecked" (ngModelChange)="showLinks()">Links</mat-slide-toggle>
        <br>
        <mat-button-toggle-group  id="groupSelector" class="invisible" aria-label="Group Selector" [(ngModel)]="viewSelection">
            <mat-button-toggle value="Multi" (click)="selectView()">All Groups</mat-button-toggle>
            <mat-button-toggle value="Single" (click)="selectView()">Single Group</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    
    <mat-form-field id="SingleGroups" class="invisible" style="top: 80px;" appearance="fill">
        <mat-label>Select a Group</mat-label>
        <mat-select [(value)]="selected">
            <mat-option (click)="selectSingleGroup('None', 'm')">None</mat-option>
            <mat-option *ngFor="let group of legendGroups"  (click)="selectSingleGroup(group, 'm')" [value]="group">Group {{ group }}</mat-option>
        </mat-select>
    </mat-form-field>

    <svg id="MultiGroups"></svg>
</div>