div.toolbar {
    position: absolute;
    padding: 2px;
    background: #aaa;
    border: 0px;
    border-radius: 8px;
    pointer-events: auto;
}
div#Disjointed{
    position: relative; 
}
svg#MultiGroups{
    position: absolute;
    padding: 2px;
    border: 2px;
    border-style:solid;
    border-color: rgb(0, 5, 53);
    border-radius: 8px;
    pointer-events: none;
    top: 80px;
}
.invisible{
  position: relative;
  display: block;
  visibility: hidden;
  height: 0;
  width: 0;
}
text.hover {
    font-size: 25;
    font-weight: bold;
  }
  line:hover{
    stroke: #000;
    stroke-opacity: 1;
  }
  line.pactive {
    stroke: #000;
    stroke-opacity: 1;
  } 
  circle.pactive{
    stroke: #000;
  }
  line.gactive {
    stroke: #000;
    stroke-opacity: 1;
  } 
  text.gactive{
    font-weight: bold;
    font-size: 25;
  }
  circle.classic{
    fill: #12b
  }
  .inactive {
    fill: #808080;
    opacity: 0.4;
  }
  line.inactive {
    stroke-opacity: 0.4;
  }